.content {    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #CCD9BF;background-color: #CCD9BF;
}

.top {
    max-width: 600px;
    padding: 20px;
}

.container {
    background-color: #CCD9BF;
}

.info {
    width: 100%;
    background-color: #EEF2F3;
    border-top: 8px;
    padding: 20px;
    max-width: 600px;
    border-radius: 20px 20px 0 0;
}